<h2 class="text-center">AGGIUNGI RICETTA</h2>
<nb-card>
	<nb-card-body>
		<div class="recipe-form recipe-form-element">
			<input class="recipe-form-element"
				type="text"
				nbInput
				placeholder="nome" [(ngModel)]="name">
			<input class="recipe-form-element"
				type="text"
				nbInput
				placeholder="descrizione" [(ngModel)]="description">

		</div>
		<textarea class="recipe-form-element"
			nbInput
			fullWidth
			placeholder="procedimento" [(ngModel)]="instructions"></textarea>
	</nb-card-body>
</nb-card>

<nb-card>
	<nb-card-body>
		<div class="recipe-form recipe-form-element">

			<input type="text"
				nbInput
				placeholder="ingrediente" [(ngModel)]="ingredient" list="suggestions" (keyup)="suggestIngredients()">
				<datalist id="suggestions" >
					<option *ngFor="let suggestion of suggestions" value="{{suggestion.name}}">{{suggestion.name}}</option>
				</datalist>
			<input type="text"
				nbInput
				placeholder="quantita" [(ngModel)]="quantity">
		</div>
        <div class="insert-btn">
            <button nbButton
                shape="semi-round"
                status="info" (click)="addIngredient()">
                aggiungi ingrediente
            </button>
        </div>
	</nb-card-body>
</nb-card>

<div class="insert-btn">
	<button nbButton
		shape="semi-round"
		status="info" (click)="addRecipe()">
		Invia
	</button>
</div>
<div class="ingredients"><nb-card  class="ingredient" *ngFor="let i of ingredients">
    <nb-card-header>{{i.name}}</nb-card-header>
    <nb-card-body>{{i.quantity}}</nb-card-body>
</nb-card></div>