<h2 class="text-center">{{recipe?.name}}</h2>

<div class="recipe-details-container">

	<div>
		<h3 class="text-center">INGREDIENTI</h3>
		<div class="ingredients-container">

			<nb-card *ngFor="let ingredient of ingredients"
				class="recipe-card">
				<nb-card-body class="text-center">{{ingredient.name}}</nb-card-body>
				<nb-card-footer class="text-center">
					<div *ngIf="!annotations" >
						{{ingredient.quantity}}
					</div>
					<div *ngIf="annotations" class="annotation-input">
						<input [(ngModel)]="ingredient.quantity"
							placeholder="inserisci la quantita"
							nbInput
							type="text">
					</div>
				</nb-card-footer>
			</nb-card>
		</div>
	</div>
	<div class="instruction-container">
		<h3 class="text-center">ISTRUZIONI</h3>

		<nb-card size="tiny"
			class="recipe-card">
			<nb-card-body>
				<div *ngIf="!annotations">{{recipe?.instructions}}</div>
				<div *ngIf="annotations && recipe" >	<textarea [(ngModel)]="recipe.instructions" placeholder="inserisci il procedimento"
					nbInput
			fullWidth
					></textarea></div>
			</nb-card-body>
		</nb-card>
	</div>

</div>

<div class="recipe-buttons">
	<button (click)="toggleAnnotations()"
		nbButton
		shape="semi-round"
		status="success"
		class="recipe-button">
		<div *ngIf="!annotations">
		Annota
		</div>
		<div *ngIf="annotations">
			Salva annotazioni
			</div>
	</button>
	<button (click)="deleteRecipe()"
		nbButton
		class="recipe-button"
		shape="semi-round"
		status="danger">
		elimina ricetta
	</button>
</div>

