<h2 class="text-center">{{recipe?.name}}</h2>

<div class="recipe-details-container">

	<div class="ingredients-container">
		<h3 class="text-center">INGREDIENTI</h3>

		<nb-card *ngFor="let ingredient of ingredients"
			class="recipe-card">
			<nb-card-body class="text-center">{{ingredient.name}}</nb-card-body>
			<nb-card-footer class="text-center">
				{{ingredient.quantity}}
			</nb-card-footer>
		</nb-card>
	</div>
	<div class="instruction-container">
		<h3 class="text-center">ISTRUZIONI</h3>

		<nb-card size="tiny"
			class="recipe-card">
			<nb-card-body>
				{{recipe?.instructions}}
			</nb-card-body>
		</nb-card>
	</div>

</div>

<div class="recipe-buttons">
	<button 
		(click)="annotations()"
		nbButton
		shape="semi-round"
		status="success"
		class="recipe-button">
		Annota
	</button>
	<button (click)="deleteRecipe()"
		nbButton
		class="recipe-button"
		shape="semi-round"
		status="danger">
		elimina ricetta
	</button>
</div>
